@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dongle:wght@300;400;700&family=Montserrat:wght@400;600;800&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap");
/* line 5, ../../fa suministros/scss/style.scss */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

/* line 10, ../../fa suministros/scss/style.scss */
.font-weight-bold {
  font-weight: 700; }

/* line 14, ../../fa suministros/scss/style.scss */
.font-weight-light {
  font-weight: 300; }

/* line 18, ../../fa suministros/scss/style.scss */
.font-weight-medium {
  font-weight: 400; }

/* line 22, ../../fa suministros/scss/style.scss */
.comienzo {
  margin-top: 125px !important; }

/* line 26, ../../fa suministros/scss/style.scss */
.bg-color {
  background-color: #aac1d59e; }

/* line 30, ../../fa suministros/scss/style.scss */
.bg-scrolling {
  background-color: #9bb0c191; }

/* line 34, ../../fa suministros/scss/style.scss */
.color-pink, .letrero-codigo {
  color: pink; }

/* line 38, ../../fa suministros/scss/style.scss */
.ws-flotante {
  position: fixed;
  right: 20px;
  bottom: 80px;
  z-index: 100;
  right: 30px; }
  /* line 45, ../../fa suministros/scss/style.scss */
  .ws-flotante img {
    width: 55px;
    height: 55px; }

/* line 53, ../../fa suministros/scss/style.scss */
.navbar-brand img {
  height: 90px;
  width: 90px; }
  /* line 57, ../../fa suministros/scss/style.scss */
  .navbar-brand img:hover {
    transform: scale(1.7); }

/* line 65, ../../fa suministros/scss/style.scss */
.navbar-nav .nav-item a {
  color: #000000b0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem; }
  /* line 70, ../../fa suministros/scss/style.scss */
  .navbar-nav .nav-item a:hover {
    color: #66a8c1 !important; }

@keyframes letrero-index {
  0% {
    color: white; }
  100% {
    color: grey; } }

/* line 87, ../../fa suministros/scss/style.scss */
.banner-index {
  background-image: url("../assets/banner.jpg");
  background-size: cover;
  height: 600px; }
  @media all and (max-width: 768px) {
    /* line 87, ../../fa suministros/scss/style.scss */
    .banner-index {
      background-image: url("../assets/banner.jpg");
      background-size: cover;
      object-fit: contain; } }
  /* line 98, ../../fa suministros/scss/style.scss */
  .banner-index .letrero-banner {
    color: #c786cca1;
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
    margin-top: 230px;
    animation-name: letrero-index;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-delay: 0.01s; }
    @media all and (max-width: 768px) {
      /* line 98, ../../fa suministros/scss/style.scss */
      .banner-index .letrero-banner {
        font-size: 2.2rem; } }
  /* line 114, ../../fa suministros/scss/style.scss */
  .banner-index .boton-comprar {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    margin-top: 150px; }
    /* line 120, ../../fa suministros/scss/style.scss */
    .banner-index .boton-comprar:hover {
      background-color: white;
      color: black; }
    @media all and (max-width: 768px) {
      /* line 114, ../../fa suministros/scss/style.scss */
      .banner-index .boton-comprar {
        margin-top: 150px; } }

@keyframes letrero-animado {
  0% {
    color: #c786cc; }
  100% {
    color: magenta; } }

/* line 141, ../../fa suministros/scss/style.scss */
.letrero-descuento {
  color: black;
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem; }
  @media all and (max-width: 768px) {
    /* line 141, ../../fa suministros/scss/style.scss */
    .letrero-descuento {
      font-size: 1.5rem; } }
  @media all and (max-width: 576px) {
    /* line 141, ../../fa suministros/scss/style.scss */
    .letrero-descuento {
      font-size: 1rem; } }

/* line 156, ../../fa suministros/scss/style.scss */
.letrero-codigo {
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
  background-color: orange; }

/* line 163, ../../fa suministros/scss/style.scss */
.imagenes-index {
  height: 300px;
  border: 2px solid #0000002b;
  border-radius: 20px;
  transition: all 250ms ease-in-out;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); }
  /* line 170, ../../fa suministros/scss/style.scss */
  .imagenes-index:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); }

/* line 177, ../../fa suministros/scss/style.scss */
.instrucciones p {
  font-family: 'Bebas Neue', cursive;
  font-size: 4rem; }
  @media all and (max-width: 768px) {
    /* line 177, ../../fa suministros/scss/style.scss */
    .instrucciones p {
      font-size: 2rem; } }

/* line 187, ../../fa suministros/scss/style.scss */
.instrucciones ol li {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem; }
  @media all and (max-width: 768px) {
    /* line 187, ../../fa suministros/scss/style.scss */
    .instrucciones ol li {
      font-size: 1rem; } }

/* line 197, ../../fa suministros/scss/style.scss */
.instrucciones h2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem; }
  @media all and (max-width: 768px) {
    /* line 197, ../../fa suministros/scss/style.scss */
    .instrucciones h2 {
      font-size: 1.2rem; } }

/* line 208, ../../fa suministros/scss/style.scss */
.carousel-img img {
  height: 500px;
  object-fit: contain; }

/* line 214, ../../fa suministros/scss/style.scss */
.descripcion-shop {
  color: #000;
  font-family: 'Roboto', sans-serif;
  background-color: #84bcca80;
  font-size: 2rem;
  max-width: 280px;
  border: 2px solid #0000002b; }

/* line 223, ../../fa suministros/scss/style.scss */
.letras-productos {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem; }
  @media all and (max-width: 768px) {
    /* line 223, ../../fa suministros/scss/style.scss */
    .letras-productos {
      font-size: 2.5rem; } }
  @media all and (max-width: 576px) {
    /* line 223, ../../fa suministros/scss/style.scss */
    .letras-productos {
      font-size: 1.5rem; } }

/* line 241, ../../fa suministros/scss/style.scss */
.letras-modal {
  font-family: 'Roboto', sans-serif;
  color: black; }

/* line 247, ../../fa suministros/scss/style.scss */
.nav-link:hover {
  color: white !important; }

/* line 252, ../../fa suministros/scss/style.scss */
.imagenes-shop {
  transition: all 250ms ease-in-out;
  height: 180px;
  width: 150px;
  border: 2px solid #0000002b;
  margin-top: 20px; }
  /* line 259, ../../fa suministros/scss/style.scss */
  .imagenes-shop:hover {
    transform: scale(1.5);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); }
  @media all and (max-width: 576px) {
    /* line 252, ../../fa suministros/scss/style.scss */
    .imagenes-shop {
      width: 250px;
      height: 300px; } }

/* line 270, ../../fa suministros/scss/style.scss */
.tituloShop {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  background-color: #b8c4c8fc;
  border: 2px solid #0000002b;
  max-width: 300px; }
  @media all and (max-width: 768px) {
    /* line 270, ../../fa suministros/scss/style.scss */
    .tituloShop {
      font-size: 1.5rem;
      max-width: 200px; } }
  @media all and (max-width: 576px) {
    /* line 270, ../../fa suministros/scss/style.scss */
    .tituloShop {
      font-size: 1.1rem;
      max-width: 150px; } }

/* line 288, ../../fa suministros/scss/style.scss */
.fondo {
  background-color: none; }
  /* line 291, ../../fa suministros/scss/style.scss */
  .fondo .letrero-historia {
    color: #c786cc;
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
    animation-name: letrero-animado;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-delay: 0.01s; }
    @media all and (max-width: 768px) {
      /* line 291, ../../fa suministros/scss/style.scss */
      .fondo .letrero-historia {
        font-size: 1.7rem; } }
  /* line 307, ../../fa suministros/scss/style.scss */
  .fondo .texto-historia {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem; }
  /* line 313, ../../fa suministros/scss/style.scss */
  .fondo .subtitulos-blog {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem;
    background-color: #f2bd5ca3;
    max-width: 400px;
    border: 2px solid #0000002b; }
  /* line 321, ../../fa suministros/scss/style.scss */
  .fondo .tituloFormulario {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    max-width: 600px;
    background-color: #b8c4c8fc;
    border: 2px solid #0000002b; }
    @media all and (max-width: 768px) {
      /* line 321, ../../fa suministros/scss/style.scss */
      .fondo .tituloFormulario {
        font-size: 1.3rem;
        max-width: 280px; } }
  /* line 334, ../../fa suministros/scss/style.scss */
  .fondo .formulario {
    max-width: 600px;
    background-color: #b8c4c8fc;
    border: 2px solid #0000002b; }
  /* line 340, ../../fa suministros/scss/style.scss */
  .fondo .boton-enviar {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem;
    background-color: #84bcca80;
    margin-bottom: 20px;
    border: 2px solid #68616140; }
    /* line 348, ../../fa suministros/scss/style.scss */
    .fondo .boton-enviar:hover {
      background-color: black;
      color: white; }
  /* line 354, ../../fa suministros/scss/style.scss */
  .fondo .letras-precio-shop {
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif; }

/* line 360, ../../fa suministros/scss/style.scss */
.boton-compra {
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5rem;
  background-color: #84bcca80;
  margin-bottom: 20px;
  height: 70px;
  border: 2px solid #68616140;
  margin-top: 150px; }
  /* line 370, ../../fa suministros/scss/style.scss */
  .boton-compra a {
    text-decoration: none;
    color: white; }
  @media all and (max-width: 768px) {
    /* line 360, ../../fa suministros/scss/style.scss */
    .boton-compra {
      font-size: 1.5rem;
      height: 50px;
      margin-top: 30px; } }
  @media all and (max-width: 576px) {
    /* line 360, ../../fa suministros/scss/style.scss */
    .boton-compra {
      font-size: 1rem;
      height: 40px; } }

/* line 388, ../../fa suministros/scss/style.scss */
.boton-compra2 {
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: 1rem;
  background-color: #84bcca80;
  margin-bottom: 20px;
  height: 37px;
  border: 2px solid #68616140; }
  /* line 397, ../../fa suministros/scss/style.scss */
  .boton-compra2 a {
    text-decoration: none;
    color: white; }

/* line 404, ../../fa suministros/scss/style.scss */
.letras-table th {
  font-size: 1.3rem; }
  @media all and (max-width: 768px) {
    /* line 404, ../../fa suministros/scss/style.scss */
    .letras-table th {
      font-size: 1rem; } }
  @media all and (max-width: 576px) {
    /* line 404, ../../fa suministros/scss/style.scss */
    .letras-table th {
      font-size: 0.6rem; } }

/* line 416, ../../fa suministros/scss/style.scss */
.letras-table td {
  font-size: 1.3rem; }
  @media all and (max-width: 768px) {
    /* line 416, ../../fa suministros/scss/style.scss */
    .letras-table td {
      font-size: 1rem; } }
  @media all and (max-width: 576px) {
    /* line 416, ../../fa suministros/scss/style.scss */
    .letras-table td {
      font-size: 0.6rem; } }

/* line 431, ../../fa suministros/scss/style.scss */
.imagenAbout img {
  height: 310px; }
  @media all and (max-width: 768px) {
    /* line 431, ../../fa suministros/scss/style.scss */
    .imagenAbout img {
      height: 180px; } }

/* line 441, ../../fa suministros/scss/style.scss */
.imagen-principal-blog img {
  max-width: 450px; }

/* line 446, ../../fa suministros/scss/style.scss */
.descripcion {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  max-width: 800px; }
  @media all and (max-width: 768px) {
    /* line 446, ../../fa suministros/scss/style.scss */
    .descripcion {
      font-size: 1rem; } }

/* line 455, ../../fa suministros/scss/style.scss */
.letrero-blog {
  color: #c786cc;
  font-family: 'Bebas Neue', cursive;
  font-size: 4rem;
  background-color: #ffa5008f; }

/* line 462, ../../fa suministros/scss/style.scss */
.imagenes-blog {
  max-width: 400px; }

/* line 466, ../../fa suministros/scss/style.scss */
.blog-img {
  width: 100%;
  height: 100%;
  transition: all 250ms ease-in-out; }
  /* line 471, ../../fa suministros/scss/style.scss */
  .blog-img:hover {
    transform: scale(1.2);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); }

/* line 477, ../../fa suministros/scss/style.scss */
.titulo-blog {
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
  background-color: #f2bd5ca3;
  max-width: 500px;
  border: 2px solid #0000002b; }
  @media all and (max-width: 768px) {
    /* line 477, ../../fa suministros/scss/style.scss */
    .titulo-blog {
      font-size: 1.5rem; } }

/* line 489, ../../fa suministros/scss/style.scss */
.letras-blog {
  color: #000;
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem; }

/* line 496, ../../fa suministros/scss/style.scss */
.mapa iframe {
  height: 150px;
  max-width: 600px; }

/* line 502, ../../fa suministros/scss/style.scss */
#footer {
  background-color: #aac1d5; }
  /* line 505, ../../fa suministros/scss/style.scss */
  #footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: white; }
  /* line 512, ../../fa suministros/scss/style.scss */
  #footer .nav img {
    width: 40px;
    height: 40px; }

/*# sourceMappingURL=style.css.map */