@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dongle:wght@300;400;700&family=Montserrat:wght@400;600;800&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

.font-weight-bold {
  font-weight: 700; }

.font-weight-light {
  font-weight: 300; }

.font-weight-medium {
  font-weight: 400; }

.comienzo {
  margin-top: 125px !important; }

.bg-color {
  background-color: #aac1d59e; }

.bg-scrolling {
  background-color: #9bb0c191; }

.color-pink, .letrero-codigo {
  color: pink; }

.ws-flotante {
  position: fixed;
  right: 20px;
  bottom: 80px;
  z-index: 100;
  right: 30px; }
  .ws-flotante img {
    width: 55px;
    height: 55px; }

.navbar-brand img {
  height: 90px;
  width: 90px; }
  .navbar-brand img:hover {
    transform: scale(1.7); }

.navbar-nav .nav-item a {
  color: #000000b0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem; }
  .navbar-nav .nav-item a:hover {
    color: #66a8c1 !important; }

@keyframes letrero-index {
  0% {
    color: white; }
  100% {
    color: grey; } }

.banner-index {
  background-image: url("../assets/banner.jpg");
  background-size: cover;
  height: 600px; }
  @media all and (max-width: 768px) {
    .banner-index {
      background-image: url("../assets/banner.jpg");
      background-size: cover;
      object-fit: contain; } }
  .banner-index .letrero-banner {
    color: #c786cca1;
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
    margin-top: 230px;
    animation-name: letrero-index;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-delay: 0.01s; }
    @media all and (max-width: 768px) {
      .banner-index .letrero-banner {
        font-size: 2.2rem; } }
  .banner-index .boton-comprar {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    margin-top: 150px; }
    .banner-index .boton-comprar:hover {
      background-color: white;
      color: black; }
    @media all and (max-width: 768px) {
      .banner-index .boton-comprar {
        margin-top: 150px; } }

@keyframes letrero-animado {
  0% {
    color: #c786cc; }
  100% {
    color: magenta; } }

.letrero-descuento {
  color: black;
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem; }
  @media all and (max-width: 768px) {
    .letrero-descuento {
      font-size: 1.5rem; } }
  @media all and (max-width: 576px) {
    .letrero-descuento {
      font-size: 1rem; } }

.letrero-codigo {
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
  background-color: orange; }

.imagenes-index {
  height: 300px;
  border: 2px solid #0000002b;
  border-radius: 20px;
  transition: all 250ms ease-in-out;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); }
  .imagenes-index:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); }

.instrucciones p {
  font-family: 'Bebas Neue', cursive;
  font-size: 4rem; }
  @media all and (max-width: 768px) {
    .instrucciones p {
      font-size: 2rem; } }

.instrucciones ol li {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem; }
  @media all and (max-width: 768px) {
    .instrucciones ol li {
      font-size: 1rem; } }

.instrucciones h2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem; }
  @media all and (max-width: 768px) {
    .instrucciones h2 {
      font-size: 1.2rem; } }

.nav-link2 {
  list-style-type: none;
  text-decoration: none;
  color: white; }

.carousel-img img {
  height: 500px;
  object-fit: contain; }

.descripcion-shop {
  color: #000;
  font-family: 'Roboto', sans-serif;
  background-color: #84bcca80;
  font-size: 2rem;
  max-width: 280px;
  border: 2px solid #0000002b; }

.letras-productos {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem; }
  @media all and (max-width: 768px) {
    .letras-productos {
      font-size: 2.5rem; } }
  @media all and (max-width: 576px) {
    .letras-productos {
      font-size: 1.5rem; } }

.letras-modal {
  font-family: 'Roboto', sans-serif;
  color: black; }

.nav-link:hover {
  color: white !important; }

.imagenes-shop {
  transition: all 250ms ease-in-out;
  height: 180px;
  width: 150px;
  border: 2px solid #0000002b;
  margin-top: 20px; }
  .imagenes-shop:hover {
    transform: scale(1.5);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); }
  @media all and (max-width: 576px) {
    .imagenes-shop {
      width: 250px;
      height: 300px; } }

.tituloShop {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  background-color: #b8c4c8fc;
  border: 2px solid #0000002b;
  max-width: 300px; }
  @media all and (max-width: 768px) {
    .tituloShop {
      font-size: 1.5rem;
      max-width: 200px; } }
  @media all and (max-width: 576px) {
    .tituloShop {
      font-size: 1.1rem;
      max-width: 150px; } }

.fondo {
  background-color: none; }
  .fondo .letrero-historia {
    color: #c786cc;
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
    animation-name: letrero-animado;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-delay: 0.01s; }
    @media all and (max-width: 768px) {
      .fondo .letrero-historia {
        font-size: 1.7rem; } }
  .fondo .texto-historia {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem; }
  .fondo .subtitulos-blog {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem;
    background-color: #f2bd5ca3;
    max-width: 400px;
    border: 2px solid #0000002b; }
  .fondo .tituloFormulario {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    max-width: 600px;
    background-color: #b8c4c8fc;
    border: 2px solid #0000002b; }
    @media all and (max-width: 768px) {
      .fondo .tituloFormulario {
        font-size: 1.3rem;
        max-width: 280px; } }
  .fondo .formulario {
    max-width: 600px;
    background-color: #b8c4c8fc;
    border: 2px solid #0000002b; }
  .fondo .boton-enviar {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem;
    background-color: #84bcca80;
    margin-bottom: 20px;
    border: 2px solid #68616140; }
    .fondo .boton-enviar:hover {
      background-color: black;
      color: white; }
  .fondo .letras-precio-shop {
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif; }

.boton-compra {
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5rem;
  background-color: #84bcca80;
  margin-bottom: 20px;
  height: 70px;
  border: 2px solid #68616140;
  margin-top: 150px; }
  .boton-compra a {
    text-decoration: none;
    color: white; }
  @media all and (max-width: 768px) {
    .boton-compra {
      font-size: 1.5rem;
      height: 50px;
      margin-top: 30px; } }
  @media all and (max-width: 576px) {
    .boton-compra {
      font-size: 1rem;
      height: 40px; } }

.boton-compra-shop {
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: 1rem;
  background-color: #84bcca80;
  margin-bottom: 20px;
  height: 37px;
  border: 2px solid #68616140; }

.boton-compra2 {
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: 1rem;
  background-color: #84bcca80;
  margin-bottom: 20px;
  height: 37px;
  border: 2px solid #68616140; }
  .boton-compra2 a {
    text-decoration: none;
    color: white; }

.letras-table th {
  font-size: 1.3rem; }
  @media all and (max-width: 768px) {
    .letras-table th {
      font-size: 1rem; } }
  @media all and (max-width: 576px) {
    .letras-table th {
      font-size: 0.6rem; } }

.letras-table td {
  font-size: 1.3rem; }
  @media all and (max-width: 768px) {
    .letras-table td {
      font-size: 1rem; } }
  @media all and (max-width: 576px) {
    .letras-table td {
      font-size: 0.6rem; } }

.imagenAbout img {
  height: 310px; }
  @media all and (max-width: 768px) {
    .imagenAbout img {
      height: 180px; } }

.imagen-principal-blog img {
  max-width: 450px; }

.descripcion {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  max-width: 800px; }
  @media all and (max-width: 768px) {
    .descripcion {
      font-size: 1rem; } }

.letrero-blog {
  color: #c786cc;
  font-family: 'Bebas Neue', cursive;
  font-size: 4rem;
  background-color: #ffa5008f; }

.imagenes-blog {
  max-width: 400px; }

.blog-img {
  width: 100%;
  height: 100%;
  transition: all 250ms ease-in-out; }
  .blog-img:hover {
    transform: scale(1.2);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); }

.titulo-blog {
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
  background-color: #f2bd5ca3;
  max-width: 500px;
  border: 2px solid #0000002b; }
  @media all and (max-width: 768px) {
    .titulo-blog {
      font-size: 1.5rem; } }

.letras-blog {
  color: #000;
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem; }

.mapa iframe {
  height: 150px;
  max-width: 600px; }

#footer {
  background-color: #aac1d5; }
  #footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: white; }
  #footer .nav img {
    width: 40px;
    height: 40px; }

.carritoCompras img {
  width: 50px;
  height: 50px; }
